@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin: 0;
}

body {
    width: 100%;
    background: #E3F2FD;
}

#content {
    width: 50%;
    margin: 0 auto;
}

header {
	display: none;
    width: 100%;
    padding: 5px;
    height: 0px;
    position: relative;
    top: 0;
    z-index: 99;
    transition: all .5s linear;
}

header>div {
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    background: #0D47A1;
    background: linear-gradient(45deg, #0D47A1, #1565c0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    position: relative;
    left: -130px;
    top: -15px;
    border-radius: 5px
}

header div>div {
    width: 200px;
    height: 200px;
    background: #0D47A1;
    background: linear-gradient(45deg, #0D47A1, #1565c0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    position: relative;
    border-radius: 5px
}

header div img {
    transform: rotate(-45deg);
    width: 100%;
    position: relative;
    top: 32px;
    left: 0px;
}

main {
    display: block;
    padding-bottom: 50px;
}
/*********************************************/

#titulo {
    width: 100%;
    /*background: #eee;*/
    background: #3D65A3;
    background: linear-gradient(45deg, #3D65A3, #1565c0);
    position: relative;
    top: 0;
    box-shadow: 0 0px 25px rgba(0, 0, 0, .45);
    padding-bottom: 0;
    transition: all .5s linear;
    /*border-radius: 5px 5px 0 0;*/
    overflow: hidden;
    padding: 30px 0px 30px 0px;
    display: table;
}

#titulo img {
    /*display: none;*/
   width: 200px;
}

h1 {
    height: auto;
    text-align: right;
    padding: 0 30px 0 30px;
    /*padding-right: 50px;
    padding-top: 75px;*/
    font-weight: 300;
    color: #fff;
    transition: all .5s linear;
    width: 70%;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}

#intro {
    display: none;
    color: #fff;
    text-align: right;
    font-size: 1.2em;
    padding-right: 50px;
    transition: all .5s linear;
    width: 70%;
    float: right;
}

#comenzar {
    display: none;
    cursor: pointer;
    background: #0D47A1;
    width: 100px;
    height: 50px;
    margin: 100px auto;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    margin-bottom: 0px;
    transition: all .5s linear;
}


/**********************************************/

.section {
    background: #ECEFF1;
    background: linear-gradient(135deg, #ECEFF1, #E3F2FD);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
}

section {
	padding: 0px;
    background: #ECEFF1;
    background: linear-gradient(135deg, #ECEFF1, #E3F2FD);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
}

h2 {
    color: #666;
    font-weight: 400;
    padding: 15px;
    font-size: 1.2em;
    /*cursor: pointer;*/
}

article {
    overflow: hidden;
    /*display:none;*/
    height: 0;
    transition: all .5s ease-in;
}

.opciones {
	display: block;
    /*width: 50%;*/
    /*float: left;*/
    /*padding-top: 30px;*/
    padding: 20px 10px 0 15px;
}

input[type="radio"] {
    /*margin:20px 0;*/
    opacity: 1;
    position: absolute;
}

label {
    /*margin:20px 0;*/
    color: #666;
    display: inline;
    height: 20px;
    line-height: .5em;
    margin-top: -5px;
    font-size: .8em;
}

.imagen {
	/*display: table-cell;*/
	display: none;
    width: 45%;
    /*float: left;*/
    height: auto;
    margin-right: 5%;
    /*border-radius: 5px;*/
}

.block,
.blockA,
.blockB {
    display: block;
    height: auto;
    /*padding-bottom:50px;*/
    transition: all .5s ease-in;
    padding: 20px 20px 20px 20px;
}

label span {
    display: none;
    position: relative;
    margin-right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../imgs/bullet.png) no-repeat;
    background-position: -88px 0;
    border: none;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background-position: -110px 0;
}

.right {
	font-size: 1.2em;
    background: #009688;
    background: linear-gradient(135deg, #009688, #00695C);
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in;
}

.wrong {
	font-size: 1.2em;
    background: #EF5350;
    background: linear-gradient(135deg, #EF5350, #C62828);
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in;
}

.boton {
    background: #546E7A;
    border: none;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    width: 80px;
    margin: 0px auto;
    display: block;
}

.principal {
    width: 100%;
    background: linear-gradient(-135deg, #0D47A1, #1565C0);
    font-size: 1em;
    margin: 0 auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
    display: block;
}

.volver {
    width: 30%;
    float: left;
    display: block;
    background: #3165ac;
    font-size: 1em;
    margin: 0 auto;
    /*box-shadow: 0 5px 25px rgba(0, 0, 0, .45);*/
    text-decoration: none;
    text-align: center;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

/*Added by Alfonso*/

.btn-lg  {
	width:100%;
	border-radius: 0;
}
section h2 {
	font-size: 1.5em;
	line-height: 1.3em;
}
.label-preg {
	padding: 15px 15px 0px 15px;
	background-color: #ffffff;
	margin-bottom: 10px;
	cursor: pointer;
} 
.label-preg:hover {
	background-color: #ffffcd;
}
label {
	font-size: 1em;
}
label.btn {
	white-space: normal;
    height: auto;
    font-size: 1.1em;
    margin-bottom:20px;
}
.btn-primary {
	background-color: rgba(45, 101, 175, 0.8);
}
label.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
   }
form {
	margin: 20px 0 20px 0;
}
#modal-resultados.btn-lg {
	margin-left: 10%;
    width: 60%;
	display:inline-block;
	padding: 12px 15px;
}
#modal-resultados.btn-info {
	background-color: #43b962;
	border: none;
}
#modal-resultados.btn-info:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    background-color: #42d869;
   }
.volver:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    background-color: #4f84c7;
    color: #ffffff;
    text-decoration: none;
   }
.volver a {
   	font-size: 18px;
   }
.volver.boton {
	border-radius: 0px;
	padding: 14px;
}
#titulo .logo {
	display: table-cell;
	float: left;
	padding: 0 30px 0 30px;
}
.modal-header {
	text-align: center;
}
.modal-body p {
	font-size: 1.5em;
	margin: 10px 0 10px 0;
}
