@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin: 0;
}

body {
    width: 100%;
    background: #E3F2FD;
}

#content {
    width: 50%;
    margin: 0 auto;
}

header {
	display: none;
    width: 100%;
    padding: 5px;
    height: 0px;
    position: relative;
    top: 0;
    z-index: 99;
    transition: all .5s linear;
}

header>div {
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    background: #0D47A1;
    background: linear-gradient(45deg, #0D47A1, #1565c0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    position: relative;
    left: -130px;
    top: -15px;
    border-radius: 5px
}

header div>div {
    width: 200px;
    height: 200px;
    background: #0D47A1;
    background: linear-gradient(45deg, #0D47A1, #1565c0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    position: relative;
    border-radius: 5px
}

header div img {
    transform: rotate(-45deg);
    width: 100%;
    position: relative;
    top: 32px;
    left: 0px;
}

main {
    display: block;
    padding-bottom: 50px;
}


/*********************************************/

#titulo {
    width: 100%;
    background: #eee;
    background: #3D65A3;
    background: linear-gradient(45deg, #3D65A3, #1565c0);
    position: relative;
    top: 0;
    box-shadow: 0 0px 25px rgba(0, 0, 0, .45);
    padding-bottom: 0;
    transition: all .5s linear;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

#titulo img {
    display: none;
}

h1 {
    height: 250px;
    text-align: right;
    padding-right: 50px;
    padding-top: 75px;
    font-weight: 300;
    color: #fff;
    transition: all .5s linear;
    float: right;
    width: 60%;
}

#intro {
    display: none;
    color: #fff;
    text-align: right;
    font-size: 1.2em;
    padding-right: 50px;
    transition: all .5s linear;
    width: 70%;
    float: right;
}

#comenzar {
    display: none;
    cursor: pointer;
    background: #0D47A1;
    width: 100px;
    height: 50px;
    margin: 100px auto;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    margin-bottom: 0px;
    transition: all .5s linear;
}


/**********************************************/

.section {
    background: #ECEFF1;
    background: linear-gradient(135deg, #ECEFF1, #E3F2FD);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
}

section {
    background: #ECEFF1;
    background: linear-gradient(135deg, #ECEFF1, #E3F2FD);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
}

h2 {
    color: #666;
    font-weight: 400;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

article {
    overflow: hidden;
    /*display:none;*/
    height: 0;
    transition: all .5s ease-in;
}

.opciones {
    width: 50%;
    float: left;
    padding-top: 30px;
    padding: 10px 10px 0 15px;
}

input[type="radio"] {
    /*margin:20px 0;*/
    opacity: 1;
    position: absolute;
}

label {
    /*margin:20px 0;*/
    color: #666;
    display: inline;
    height: 20px;
    line-height: .5em;
    margin-top: -5px;
    font-size: .8em;
}

.imagen {
    width: 45%;
    float: left;
    height: 300px;
    margin-right: 5%;
    border-radius: 5px;
}

.block,
.blockA,
.blockB {
    display: block;
    height: 430px;
    /*padding-bottom:50px;*/
    transition: all .5s ease-in;
}

label span {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../imgs/bullet.png) no-repeat;
    background-position: -88px 0;
    border: none;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background-position: -110px 0;
}

.right {
    background: #009688;
    background: linear-gradient(135deg, #009688, #00695C);
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in;
}

.wrong {
    background: #EF5350;
    background: linear-gradient(135deg, #EF5350, #C62828);
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in;
}

.boton {
    background: #546E7A;
    border: none;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    width: 80px;
    margin: 0px auto;
    display: block;
}

.principal {
    width: 100%;
    background: linear-gradient(-135deg, #0D47A1, #1565C0);
    font-size: 1em;
    margin: 0 auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
    display: block;
}

.volver {
    width: 100%;
    background: linear-gradient(-135deg, #FB8C00, #E65100);
    font-size: 1em;
    margin: 0 auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .45);
    text-decoration: none;
    text-align: center;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
